@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.TopCenter"
                IconType="IconType.FontAwesome"
                InfoIcon="fa fa-info" />

<div class="sidebar">
    <NavMenu />
</div>
<div class="main">
    <div class="content px-4">
        <div class="row"></div>
        @Body
    </div>
</div>

