@page "/Beziehungsfragen"

<h3>Beziehungsfragen</h3>

<form action="">
    <div>
        <h4>
            Beziehungsfragen
        </h4>
    </div>
    <div>
        <p>Baum - Pflanze</p>
        <p>Haus - ?</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />a) Grundstück</label>
        <label><input type="radio" value="b" />b) Gebäude</label>
        <label><input type="radio" value="c" />c) Garten</label>
        <label><input type="radio" value="d" />d) Tür</label>
    </div>
    <div>
        <p>Hund - Welpe</p>
        <p>Pferd - ?</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />a) Baby</label>
        <label><input type="radio" value="b" />b) Neugeborenes</label>
        <label><input type="radio" value="c" />c) Eltern</label>
        <label><input type="radio" value="d" />d) Fohlen</label>
    </div>
    <div>
        <p>Violine - Streichinstrument</p>
        <p>Tuba - ?</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />a) Blasinstrument</label>
        <label><input type="radio" value="b" />b) Kontrabass</label>
        <label><input type="radio" value="c" />c) Zupfinstrument</label>
        <label><input type="radio" value="d" />d) Trompete</label>
    </div>
    <div>
        <p>Fisch - Wasser</p>
        <p>? - Luft</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />a) Flugzeug</label>
        <label><input type="radio" value="b" />b) Vogel</label>
        <label><input type="radio" value="c" />c) Baum</label>
        <label><input type="radio" value="d" />d) Flamingo</label>
    </div>
    <div>
        <p>Deutschland - Berlin</p>
        <p>Monaco - ?</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />a) Madrid</label>
        <label><input type="radio" value="b" />b) Monaco</label>
        <label><input type="radio" value="c" />c) Port Vila</label>
        <label><input type="radio" value="d" />d) Manama</label>
    </div>
</form>

@code {

}
