@page "/Beziehungsfragen"
@inject NavigationManager navigationsManager

<h3>Beziehungsfragen</h3>

<form>
    <div>
        <p>Baum - Pflanze</p>
        <p>Haus - ?</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="Grundstück" name="Haus" value="Grundstück" /> Grundstück</label>
        <label><input type="radio" id="Gebäude" name="Haus" value="Gebäude" /> Gebäude</label>
        <label><input type="radio" id="Garten" name="Haus" value="Garten" /> Garten</label>
        <label><input type="radio" id="Tür" name="Haus" value="Tür" /> Tür</label>
    </div>
    <div>
        <p>Hund - Welpe</p>
        <p>Pferd - ?</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="Baby" name="Pferd" value="Baby" /> Baby</label>
        <label><input type="radio" id="Neugeborenes" name="Pferd" value="Neugeborenes" /> Neugeborenes</label>
        <label><input type="radio" id="Eltern" name="Pferd" value="Eltern" /> Eltern</label>
        <label><input type="radio" id="Fohlen" name="Pferd" value="Fohlen" /> Fohlen</label>
    </div>
    <div>
        <p>Violine - Streichinstrument</p>
        <p>Tuba - ?</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="Blasinstrument" name="Tuba" value="Blasinstrument" /> Blasinstrument</label>
        <label><input type="radio" id="Kontrabass" name="Tuba" value="Kontrabass" /> Kontrabass</label>
        <label><input type="radio" id="Zupfinstrument" name="Tuba" value="Zupfinstrument" /> Zupfinstrument</label>
        <label><input type="radio" id="Trompete" name="Tuba" value="Trompete" /> Trompete</label>
    </div>
    <div>
        <p>Fisch - Wasser</p>
        <p>? - Luft</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="Flugzeug" name="Luft" value="Flugzeug" /> Flugzeug</label>
        <label><input type="radio" id="Vogel" name="Luft" value="Vogel" /> Vogel</label>
        <label><input type="radio" id="Baum" name="Luft" value="Baum" /> Baum</label>
        <label><input type="radio" id="Flamingo" name="Luft" value="Flamingo" /> Flamingo</label>
    </div>
    <div>
        <p>Deutschland - Berlin</p>
        <p>Monaco - ?</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="Madrid" name="Monaco" value="Madrid" /> Madrid</label>
        <label><input type="radio" id="Monaco" name="Monaco" value="Monaco" /> Monaco</label>
        <label><input type="radio" id="Port Vila" name="Monaco" value="Port Vila" /> Port Vila</label>
        <label><input type="radio" id="Manama" name="Monaco" value="Manama" /> Manama</label>
    </div>
    <NavLink href="Entscheidungsfragen">
        <button class="btn btn-dark">Nächstes Thema</button>
    </NavLink>
</form>
