@page "/BeziehungsfragenStartseite"

<h3>Testanweisung Beziehungsfragen</h3>
<div class="row">
    <div class="col-md-12">
        Pro Aufgabe erhalten Sie insgesamt vier Begriffe. Die ersten beiden Begriffe, stehen in einer Beziehung zueinander. <br />
        Zwischen dem dritten und vierten Wort besteht eine ähnliche Beziehung, welche Sie herausfinden sollen. <br />
        Ein Bezeichnung wird Ihnen vorgegeben, die andere fehlt. <br />
        Ihre Aufgabe ist es, diese durch Anwenden von logischem Denken zu lösen und Ihre Antwort anzugeben.
    </div>
    <div class="col-md-12">
        <br /><h3 class="text-danger">Achtung!</h3>
    </div>
    <div class="col-md-12">
        Es ist immer nur eine Möglichkeit richtig, demnach müssen Sie sich für eine Antwortmöglichkeit entscheiden. <br />
        Sie haben für diesen Test 10 Minuten Zeit. Die Zeit läuft automatisch ab. <br />
        Falls Sie nicht alle Fragen in der vorgegebenen Zeit beantworten können, werden unbeantwortete Fragen als Fehler gewertet.
    </div>
</div>

<div class="grid-container">
    <div class="radiobutton">
        <div class="row">
            <div class="col-md-12">
                <h5>Beispiel:</h5>
                Basketballer - Basketballplatz <br />
                Schwimmer - ?
            </div>
            <div class="col-md-2">
                <label><input type="radio" disabled /> Badekappe</label>
            </div>
            <div class="col-md-2">
                <label><input type="radio" disabled /> Wasser</label>
            </div>
            <div class="col-md-2">
                <label><input type="radio" checked /> Schwimmbecken</label>
            </div>
            <div class="col-md-6">
                <label><input type="radio" disabled /> Handtuch</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <NavLink href="Beziehungsfragen">
                <button class="button">Testbeginn</button>
            </NavLink>
        </div>
    </div>
</div>


