@page "/BeziehungsfragenStartseite"

@using DigitalerTest.Data

@inject NavigationManager navigationManager
@inject StoppuhrService stoppuhrService

<h3>Testanweisung Beziehungsfragen</h3>

<p>abcde</p>

<NavLink href="Beziehungsfragen">
    <button class="btn btn-dark">Nächstes Thema</button>
</NavLink>

