@page "/Entscheidungsfragen"
@inject NavigationManager navigationsManager

<h3>Entscheidungsfragen</h3>

<form>
    <div>
        <h5>
            Wer wählt den Bundespräsidenten?
        </h5>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="Bundeskanzler" name="Bundespräsident" value="Bundeskanzler" /> Bundeskanzler</label>
        <label><input type="radio" id="Bundesversammlung" name="Bundespräsident" value="Bundesversammlung" /> Bundesversammlung</label>
        <label><input type="radio" id="Bundestag" name="Bundespräsident" value="Bundestag" /> Bundestag</label>
        <label><input type="radio" id="Bundesrat" name="Bundespräsident" value="Bundesrat" /> Bundesrat</label>
    </div>
    <div>
        <h5>
            Welches Tier passt nicht zu den anderen?
        </h5>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="Delfin" name="Tier" value="Delfin" /> Delfin</label>
        <label><input type="radio" id="Hai" name="Tier" value="Hai" /> Hai</label>
        <label><input type="radio" id="Wal" name="Tier" value="Wal" /> Wal</label>
        <label><input type="radio" id="Seehund" name="Tier" value="Seehund" /> Seehund</label>
    </div>
    <div>
        <h5>
            Welche Stadt passt nicht zu den anderen?
        </h5>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="Hamburg" name="Stadt" value="Hamburg" /> Hamburg</label>
        <label><input type="radio" id="Bremen" name="Stadt" value="Bremen" /> Bremen</label>
        <label><input type="radio" id="Berlin" name="Stadt" value="Berlin" /> Berlin</label>
        <label><input type="radio" id="Dresden" name="Stadt" value="Dresden" /> Dresden</label>
    </div>
    <div>
        <h5>
            Wann wurde die Berliner Mauer gestürzt?
        </h5>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="1988" name="Mauer" value="1988" /> 1988</label>
        <label><input type="radio" id="1989" name="Mauer" value="1989" /> 1989</label>
        <label><input type="radio" id="1990" name="Mauer" value="1990" /> 1990</label>
        <label><input type="radio" id="1991" name="Mauer" value="1991" /> 1991</label>
    </div>
    <div>
        <h5>
            Welches ist das flächenmäßig kleinste Bundesland in Deutschland?
        </h5>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="Bremen" name="Bundesland" value="Bremen" /> Bremen</label>
        <label><input type="radio" id="Hamburg" name="Bundesland" value="Hamburg" /> Hamburg</label>
        <label><input type="radio" id="Saarland" name="Bundesland" value="Saarland" /> Saarland</label>
        <label><input type="radio" id="Sachsen" name="Bundesland" value="Sachsen" /> Sachsen</label>
    </div>

    <NavLink href="MathematischeKenntnisse">
        <button class="btn btn-dark">Nächstes Thema</button>
    </NavLink>
</form>