@page "/Entscheidungsfragen"

<h3>Entscheidungsfragen</h3>

<form action="">
    <div>
        <h4>
            Wer wählt den Bundespräsidenten?
        </h4>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />a) Bundeskanzler</label>
        <label><input type="radio" value="b" />b) Bundesversammlung</label>
        <label><input type="radio" value="c" />c) Bundestag</label>
        <label><input type="radio" value="d" />d) Bundesrat</label>
    </div>
    <div>
        <h4>
            Welches Tier passt nicht zu den anderen?
        </h4>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />a) Delfin</label>
        <label><input type="radio" value="b" />b) Hai</label>
        <label><input type="radio" value="c" />c) Wal</label>
        <label><input type="radio" value="d" />d) Seehund</label>
    </div>
    <div>
        <h4>
            Welche Stadt passt nicht zu den anderen?
        </h4>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />a) Hamburg</label>
        <label><input type="radio" value="b" />b) Bremen</label>
        <label><input type="radio" value="c" />c) Berlin</label>
        <label><input type="radio" value="d" />d) Dresden</label>
    </div>
    <div>
        <h4>
            Wann wurde die Berliner Mauer gestürzt?
        </h4>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />a) 1988</label>
        <label><input type="radio" value="b" />b) 1989</label>
        <label><input type="radio" value="c" />c) 1990</label>
        <label><input type="radio" value="d" />d) 1991</label>
    </div>
    <div>
        <h4>
            Welches ist das flächenmäßig kleinste Land in Deutschland?
        </h4>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />a) Bremen</label>
        <label><input type="radio" value="b" />b) Saarland</label>
        <label><input type="radio" value="c" />c) Sachsen</label>
        <label><input type="radio" value="d" />d) Hamburg</label>
    </div>
</form>

@code {

}
