@page "/"

    <div class="row">
        <div class="col-md-12">
            <h1>Willkommen bei Ihrem Eignungstest</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Bitte geben Sie Ihre Identifikationsnummer an!  
            <br /><input type="text" placeholder="Identifikationsnummer" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-danger">Achtung!</h3>
        </div>
        <div class="col-md-12">
            Bitte beachten Sie folgende Hinweise.
        </div>
        <div class="col-md-12">
            <ul>
                <li>1.</li>
                <li>2.</li>
                <li>3.</li>
                <li>4.</li>
                <li>5.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="button">Test beginnen!</button>
        </div>
    </div>


