@page "/"

@using DigitalerTest.Data
@using System.ComponentModel.DataAnnotations;
@using System

@inject Eignungstest eignungstest
@inject NavigationManager navMan

@*<EditForm Model="@starship" OnInvalidSubmit="@HandleValidSubmit">*@
<EditForm Model="@identifikationsNr" >
<DataAnnotationsValidator/>
    <div class="row">
        <div class="col-md-12">
            <h1>Willkommen bei Ihrem Eignungstest</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Bitte geben Sie Ihre Identifikationsnummer an! <br />
            @*<input type="text" class="id_number" pattern="[0-9]{7}" required placeholder="Identifikationsnummer" />*@
            
            <div class="form-group">
            <label for="IDNummer">Idenfikikationsnummer</label>
            <InputText @bind-Value="identifikationsNr.IDNummer" class="form-control" id="IDNummer"/>
                <ValidationMessage For="() => identifikationsNr.IDNummer"></ValidationMessage>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-danger">Achtung!</h3>
        </div>
        <div class="col-md-12">
            Bitte beachten Sie folgende Hinweise:
        </div>
        <div class="col-md-12">
            <ul>
                <li>Bitte geben Sie Ihre ausgehändigte Identifikationsnummer an. Beachten Sie hierbei auf die korrekte Schreibweise Ihrer Nummer.</li>
                <li>Bevor Sie mit einem Themengebiet beginnen, erhalten Sie eine Unterweisung mit Beispielen zum besseren Verständnis.</li>
                <li>Für jedes Themengebiet haben Sie eine Zeitvorgabe. Diese erfahren Sie vor dem jeweiligen Test.</li>
                <li>Falls Sie dennoch Fragen haben, wenden Sie sich bitte an Ihren Testleiter.</li>
                <li>Bitte überprügfen Sie nach Beendigung des Testgebietes Ihre Fragen. Sobald Sie in den nächsten Test gelangen, sind Änderungen nicht mehr möglich.</li>
                <li>Ihre Antworten werden am Ende automatisch gespeichert.</li>
                <li>Weitere Infos zum Datenschutz finden Sie hier. @*Link einbinden!*@ </li>
            </ul>
        </div>
        <div>
            Wir wünschen Ihnen viel Erfolg!
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            @*<NavLink type="submit" href="BeziehungsfragenStartseite">
                <button class="btn btn-dark">Test beginnen!</button>
            </NavLink>*@

            <input type="submit" class="button" value="Test starten" @onclick="HandleValidSubmit" />        
        </div>
    </div>
</EditForm>

@code
{
    IdentifikationsNr identifikationsNr = new IdentifikationsNr();

    void HandleValidSubmit()
    {
        if(pruefeID(identifikationsNr.IDNummer) == true)
        {
            navMan.NavigateTo("BeziehungsfragenStartseite");
        }
        // Save the data

        //sichern der Ident Nummer
        //eignungstest.identifier = Identifier;
    }

    private bool pruefeID(string ident)
    {
        if(ident == null)
        {
            ident = "default";
        }

        if(ident.Length == 7 && ident.All(char.IsDigit) == true)
        {
            return true;
        }
        else
        {
            return false;
        }
    }

}



