@page "/MathematischeKenntnisse"

<h3>Mathematische Kenntnisse</h3>

<form>
    <div>
        <h5>
            Welche Zahl kann das Fragezeichen ersetzen?
        </h5>
        <p> 2 ? 8 16 32</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="0" name="Fragezeichen1" value="0" /> 0</label>
        <label><input type="radio" id="8" name="Fragezeichen1" value="8" /> 8</label>
        <label><input type="radio" id="4" name="Fragezeichen1" value="4" /> 4</label>
        <label><input type="radio" id="12" name="Fragezeichen1" value="12" /> 12</label>
    </div>
    <div>
        <h5>
            Welche Zahl kann das Fragezeichen ersetzen?
        </h5>
        <p>0 ? 0.5 0.75 1</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="0,25" name="Fragezeichen2" value="0,25" /> 0,25</label>
        <label><input type="radio" id="0,6" name="Fragezeichen2" value="0,6" /> 0,6</label>
        <label><input type="radio" id="2" name="Fragezeichen2" value="2" /> 2</label>
        <label><input type="radio" id="10" name="Fragezeichen2" value="10" /> 10</label>
    </div>
    <div>
        <h5>
            Von den 26 Schülern haben 2 Schüler eine 1 geschrieben, und weitere 4 haben die Note 2.
            25% der übrigen Schüler haben eine 3.
            Die Anderen waren hatten eine 4 oder schlechter.
            Wie viele der Schüler haben eine 3 oder sind besser?
        </h5>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="12" name="Besser3" value="12" /> 12</label>
        <label><input type="radio" id="9" name="Besser3" value="9" /> 9</label>
        <label><input type="radio" id="13" name="Besser3" value="13" /> 13</label>
        <label><input type="radio" id="11" name="Besser3" value="11" /> 11</label>
    </div>
    <div>
        <h5>
            Geben Sie folgenden Bruch in Prozent an: 2/3
        </h5>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="66" name="Prozent" value="66" /> 66%</label>
        <label><input type="radio" id="66,3" name="Prozent" value="66,3" /> 66,3%</label>
        <label><input type="radio" id="66,6" name="Prozent" value="66,6" /> 66,6%</label>
        <label><input type="radio" id="66,9" name="Prozent" value="66,9" /> 66,9%</label>
    </div>
    <div>
        <h5>
            Geben Sie das Ergebnis für folgende Gleichung an.
        </h5>
        <p>x = 7 + 9 * (6 - 3)</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="34" name="x" value="34" /> 34</label>
        <label><input type="radio" id="48" name="x" value="48" /> 48</label>
        <label><input type="radio" id="33" name="x" value="33" /> 33</label>
        <label><input type="radio" id="58" name="x" value="58" /> 58</label>
    </div>
    <button>Weiter</button>
</form>

@code {

}
