@page "/MathematischeKenntnisse"

<h3>Mathematische Kenntnisse</h3>

<form action="">
    <div>
        <h4>
            Welche Zahl kann das Fragezeichen ersetzen?
        </h4>
        <p> 2 ? 8 16 32</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />a) 0</label>
        <label><input type="radio" value="b" />b) 8</label>
        <label><input type="radio" value="c" />c) 4</label>
        <label><input type="radio" value="d" />d) 12</label>
    </div>
    <div>
        <h4>
            Welche Zahl kann das Fragezeichen ersetzen?
        </h4>
        <p>0 ? 0.5 0.75 1</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />a) 0.25</label>
        <label><input type="radio" value="b" />b) 0.6</label>
        <label><input type="radio" value="c" />c) 2</label>
        <label><input type="radio" value="d" />d) 10</label>
    </div>
    <div>
        <h4>
            Von den 26 Schülern haben 2 Schüler eine 1 geschrieben, und weitere 4 haben die Note 2.
            25% der übrigen Schüler haben eine 3.
            Die Anderen waren hatten eine 4 oder schlechter.
            Wie viele der Schüler haben eine 3 oder sind besser?
        </h4>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />a) 12</label>
        <label><input type="radio" value="b" />b) 9</label>
        <label><input type="radio" value="c" />c) 13</label>
        <label><input type="radio" value="d" />d) 11</label>
    </div>
    <div>
        <h4>
            Geben Sie folgenden Bruch in Prozent an: 2/3
        </h4>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />a) 66%</label>
        <label><input type="radio" value="b" />b) 66,3%</label>
        <label><input type="radio" value="c" />c) 66,6%</label>
        <label><input type="radio" value="d" />d) 66,9%</label>
    </div>
    <div>
        <h4>
            Geben Sie das Ergebnis für folgende Gleichung an.
        </h4>
        <p>x = 7 + 9 * (6 - 3)</p>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />a) 34</label>
        <label><input type="radio" value="b" />b) 48</label>
        <label><input type="radio" value="c" />c) 33</label>
        <label><input type="radio" value="d" />d) 58</label>
    </div>
</form>

@code {

}
