@page "/RechtschreibungStartseite"

@using DigitalerTest.Data

@inject NavigationManager navigationManager
@inject StoppuhrService stoppuhrService

<h3>Testanweisung Rechtschreibung</h3>

<form>
    <div>
        <h5>
            Gegeben ist ein Wort, wo die richtige Schreibung herausgefunden werden muss. <br /><br />
            Beispiel:
        </h5>
    </div>

    <div class="grid-container">
        <div class="radiobutton">
            @* Beispielfrage *@
            <div class="row">
                <div class="col-md-3">
                    <label><input type="radio" id="Griesgram" name="Griesgram" value="Griesgram" checked /> Griesgram</label>
                </div>
                <div class="col-md-3">
                    <p>oder</p>
                </div>
                <div class="col-md-3">
                    <label><input type="radio" id="Griessgram" name="Griesgram" value="Griessgram" /> Griessgram</label>
                </div>
                <div class="col-md-3">
                    <p>?</p>
                </div>
            </div>
        </div>
    </div>

    <p>
        Für den folgenden Test haben Sie ... Sekunden/Minuten Zeit. Die Zeit läuft automatisch ab. Falls Sie nicht alle Fragen in der vorgegebenen Zeit beantworten können,
        werden unbeantwortete Fragen als 0 gewertet.
    </p>

    <NavLink href="Rechtschreibung">
        <button class="btn btn-dark">Nächstes Thema</button>
    </NavLink>
</form>