@page "/Rechtschreibung"

<h3>Rechtschreibung</h3>

<form action="">
    <div>
        <h4>
            Gegeben ist ein Wort, wo die richtige Schreibung herausgefunden werden muss.
        </h4>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="a" />Akupunktur</label><p>oder</p><label><input type="radio" value="b" />Akkupunktur</label><p>?</p>
        <label><input type="radio" value="c" />authorisieren</label><p>oder</p><label><input type="radio" value="d" />autorisieren</label><p>?</p>
        <label><input type="radio" value="e" />Extase</label><p>oder</p><label><input type="radio" value="f" />Ekstase</label><p>?</p>
        <label><input type="radio" value="g" />Griesgram</label><p>oder</p><label><input type="radio" value="h" />Griessgram</label><p>?</p>
        <label><input type="radio" value="i" />prophylakse</label><p>oder</p><label><input type="radio" value="j" />prophylaxe</label><p>?</p>
        <label><input type="radio" value="k" />reziprok</label><p>oder</p><label><input type="radio" value="l" />reziprog</label><p>?</p>
        <label><input type="radio" value="m" />Silhouette</label><p>oder</p><label><input type="radio" value="n" />Sillouette</label><p>?</p>
        <label><input type="radio" value="o" />Tunier</label><p>oder</p><label><input type="radio" value="p" />Turnier</label><p>?</p>
        <label><input type="radio" value="q" />verpöhnt</label><p>oder</p><label><input type="radio" value="r" />verpönt</label><p>?</p>
    </div>
</form>

@code {

}
