@page "/Rechtschreibung"

<h3>Rechtschreibung</h3>

<form>
    <div>
        <h5>
            Gegeben ist ein Wort, wo die richtige Schreibung herausgefunden werden muss.
        </h5>
    </div>
    <div class="radiobutton">
        <label><input type="radio" id="Akupunktur" name="Akupunktur" value="Akupunktur" /> Akupunktur</label>
        <p>oder</p>
        <label><input type="radio" id="Akkupunktur" name="Akupunktur" value="Akkupunktur" /> Akkupunktur</label>
        <p>?</p>
        <label><input type="radio" id="authorisieren" name="autorisieren" value="authorisieren" /> authorisieren</label>
        <p>oder</p>
        <label><input type="radio" id="autorisieren" name="autorisieren" value="autorisieren" /> autorisieren</label>
        <p>?</p>
        <label><input type="radio" id="Extase" name="Ekstase" value="Extase" /> Extase</label>
        <p>oder</p>
        <label><input type="radio" id="Ekstase" name="Ekstase" value="Ekstase" /> Ekstase</label>
        <p>?</p>
        <label><input type="radio" id="Griesgram" name="Griesgram" value="Griesgram" /> Griesgram</label>
        <p>oder</p>
        <label><input type="radio" id="Griessgram" name="Griesgram" value="Griessgram" /> Griessgram</label>
        <p>?</p>
        <label><input type="radio" id="prophylakse" name="prophylaxe" value="prophylakse" /> prophylakse</label>
        <p>oder</p>
        <label><input type="radio" id="prophylaxe" name="prophylaxe" value="prophylaxe" /> prophylaxe</label>
        <p>?</p>
        <label><input type="radio" id="reziprok" name="reziprok" value="reziprok" /> reziprok</label>
        <p>oder</p>
        <label><input type="radio" id="reziprog" name="reziprok" value="reziprog" /> reziprog</label>
        <p>?</p>
        <label><input type="radio" id="Silhouette" name="Silhouette" value="Silhouette" /> Silhouette</label>
        <p>oder</p>
        <label><input type="radio" id="Sillouette" name="Silhouette" value="Sillouette" /> Sillouette</label>
        <p>?</p>
        <label><input type="radio" id="Tunier" name="Turnier" value="Tunier" /> Tunier</label>
        <p>oder</p>
        <label><input type="radio" id="Turnier" name="Turnier" value="Turnier" /> Turnier</label>
        <p>?</p>
        <label><input type="radio" id="verpöhnt" name="verpönt" value="verpöhnt" /> verpöhnt</label>
        <p>oder</p>
        <label><input type="radio" id="verpönt" name="verpönt" value="verpönt" /> verpönt</label>
        <p>?</p>
        <label><input type="radio" id="wiederrum" name="wiederum" value="wiederrum" /> wiederrum</label>
        <p>oder</p>
        <label><input type="radio" id="wiederum" name="wiederum" value="wiederum" /> wiederum</label>
        <p>?</p>
        <label><input type="radio" id="zuwider" name="zuwider" value="zuwider" /> zuwider</label>
        <p>oder</p>
        <label><input type="radio" id="zuwider" name="zuwieder" value="zuwider" /> zuwieder</label>
        <p>?</p>
        <label><input type="radio" id="Rückgrat" name="Rückgrat" value="Rückgrat" /> Rückgrat</label>
        <p>oder</p>
        <label><input type="radio" id="Rückrad" name="Rückgrat" value="Rückrad" /> Rückrad</label>
        <p>?</p>
    </div>
    <button>Weiter</button>
</form>

@code {

}
