@page "/Rechtschreibung"

@using DigitalerTest.Pages
@using DigitalerTest.Data
@using System.Timers;
@using System.IO;

@inject StoppuhrService stoppuhrService
@inject NavigationManager navigationManager
@inject Eignungstest eignungstest 

<h3>Rechtschreibung</h3>

<form>
    <div>
        <h5>
            Bitte wählen Sie die richtige Schreibweise. <br />
        </h5>
    </div>
    <div class="grid-container">
        <div class="radiobutton">
            @*Frage1*@
            <div class="row">
                <div class="col-md-2">
                    <label><input type="radio" id="Akupunktur" name="Akupunktur" value="Akupunktur/T4F1" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) />Akupunktur</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="Akupunctur" name="Akupunktur" value="Akupunctur/T4F1" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Akupunctur</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="Akkupunktur" name="Akupunktur" value="Akkupunktur/T4F1" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Akkupunktur</label>
                </div>
                <div class="col-md-6">
                    <label><input type="radio" id="Acupunktur" name="Akupunktur" value="Acupunktur/T4F1" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Acupunktur</label>
                </div>
            </div>
            @* Frage2 *@
            <div class="row">
                <div class="col-md-2">
                    <label><input type="radio" id="authorisieren" name="autorisieren" value="authorisieren/T4F2" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> authorisieren</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="autorrisieren" name="autorisieren" value="autorrisieren/T4F2" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> autorrisieren</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="autorisieren" name="autorisieren" value="autorisieren/T4F2" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> autorisieren</label>
                </div>
                <div class="col-md-6">
                    <label><input type="radio" id="auturisieren" name="autorisieren" value="auturisieren/T4F2" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> auturisieren</label>
                </div>
            </div>
            @* Frage3 *@
            <div class="row">
                <div class="col-md-2">
                    <label><input type="radio" id="Extase" name="Ekstase" value="Extase/T4F3" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Extase</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="Extasse" name="Ekstase" value="Extasse/T4F3" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Extasse</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="Ekstase" name="Ekstase" value="Ekstase/T4F3" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Ekstase</label>
                </div>
                <div class="col-md-6">
                    <label><input type="radio" id="Ekstasse" name="Ekstase" value="Ekstasse/T4F3" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Ekstasse</label>
                </div>
            </div>
            @* Frage4 *@
            <div class="row">
                <div class="col-md-2">
                    <label><input type="radio" id="prophylakse" name="prophylaxe" value="prophylakse/T4F4" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> prophylakse</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="prophylacse" name="prophylaxe" value="prophylacse/T4F4" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> prophylacse</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="prophylaxe" name="prophylaxe" value="prophylaxe/T4F4" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> prophylaxe</label>
                </div>
                <div class="col-md-6">
                    <label><input type="radio" id="prophilaxe" name="prophylaxe" value="prophilaxe/T4F4" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> prophilaxe</label>
                </div>
            </div>
            @* Frage5 *@
            <div class="row">
                <div class="col-md-2">
                    <label><input type="radio" id="reziprok" name="reziprok" value="reziprok/T4F5" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> reziprok</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="rezipog" name="reziprok" value="rezipog/T4F5" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> rezipog</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="reziprog" name="reziprok" value="reziprog/T4F5" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> reziprog</label>
                </div>
                <div class="col-md-6">
                    <label><input type="radio" id="reziprock" name="reziprok" value="reziprock/T4F5" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> reziprock</label>
                </div>
            </div>
            @* Frage6 *@
            <div class="row">
                <div class="col-md-2">
                    <label><input type="radio" id="Silhouette" name="Silhouette" value="Silhouette/T4F6" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Silhouette</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="Silluette" name="Silhouette" value="Silluette/T4F6" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Silluette</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="Sillouette" name="Silhouette" value="Sillouette/T4F6" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Sillouette</label>
                </div>
                <div class="col-md-6">
                    <label><input type="radio" id="Silluette" name="Silhouette" value="Silluette/T4F6" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Silluette</label>
                </div>
            </div>
            @* Frage7 *@
            <div class="row">
                <div class="col-md-2">
                    <label><input type="radio" id="Tunier" name="Turnier" value="Tunier/T4F7" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Tunier</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="Turnir" name="Turnier" value="Turnir/T4F7" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Turnir</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="Turnier" name="Turnier" value="Turnier/T4F7" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Turnier</label>
                </div>
                <div class="col-md-6">
                    <label><input type="radio" id="Tunnier" name="Turnier" value="Tunnier/T4F7" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Tunnier</label>
                </div>
            </div>
            @* Frage8 *@
            <div class="row">
                <div class="col-md-2">
                    <label><input type="radio" id="verpöhnt" name="verpönt" value="verpöhnt/T4F8" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> verpöhnt</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="verpohnt" name="verpönt" value="verpohnt/T4F8" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> verpohnt</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="verpönt" name="verpönt" value="verpönt/T4F8" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> verpönt</label>
                </div>
                <div class="col-md-6">
                    <label><input type="radio" id="verpönnt" name="verpönt" value="verpönnt/T4F8" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> verpönnt</label>
                </div>
            </div>
            @* Frage9 *@
            <div class="row">
                <div class="col-md-2">
                    <label><input type="radio" id="wiederrum" name="wiederum" value="wiederrum/T4F9" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> wiederrum</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="widerrum" name="wiederum" value="widerrum/T4F9" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> widerrum</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="wiederum" name="wiederum" value="wiederum/T4F9" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> wiederum</label>
                </div>
                <div class="col-md-6">
                    <label><input type="radio" id="widerum" name="wiederum" value="widerum/T4F9" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> widerum</label>
                </div>
            </div>
            @* Frage10 *@
            <div class="row">
                <div class="col-md-2">
                    <label><input type="radio" id="zuwider" name="zuwider" value="zuwider/T4F10" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> zuwider</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="zuwiter" name="zuwider" value="zuwiter/T4F10" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> zuwiter</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="zuwieder" name="zuwider" value="zuwieder/T4F10" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> zuwieder</label>
                </div>
                <div class="col-md-6">
                    <label><input type="radio" id="zuwidder" name="zuwider" value="zuwidder/T4F10" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> zuwidder</label>
                </div>
            </div>
            @* Frage11 *@
            <div class="row">
                <div class="col-md-2">
                    <label><input type="radio" id="Rückgrat" name="Rückgrat" value="Rückgrat/T4F11" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Rückgrat</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="Rückrat" name="Rückgrat" value="Rückrat/T4F11" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Rückrat</label>
                </div>
                <div class="col-md-2">
                    <label><input type="radio" id="Rückgrad" name="Rückgrat" value="Rückgrad/T4F11" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Rückgrad</label>
                </div>
                <div class="col-md-6">
                    <label><input type="radio" id="Rückrad" name="Rückgrat" value="Rückrad/T4F11" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Rückrad</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <NavLink href="TestBeendet">
                        <button class="btn btn-dark" @onclick="Abgabe">Test beenden!</button>
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
</form>

@code{
    private Stoppuhr stoppuhr;
    private Themengebiete themengebiet = new Themengebiete();

    private string antwort = "";

    protected override async Task OnInitializedAsync()
    {
        themengebiet.titel = "Rechtschreibung";

        stoppuhr = await stoppuhrService.starteStoppuhrAsync();

        stoppuhr.timer.Elapsed += OnElapsedEvent;
    }

    private void Abgabe()
    {
        stoppuhr.stoppeStoppuhr();
        naechstesThema().Wait();
        SpeicherDaten();
    }

    private void OnElapsedEvent(Object source, ElapsedEventArgs e)
    {
        stoppuhr.stoppeStoppuhr();
        naechstesThema().Wait();
        SpeicherDaten();
    }

    private async Task naechstesThema()
    {
        await InvokeAsync(() =>
        {
            ThemaHinzufuegen();

            navigationManager.NavigateTo("TestBeendet", true);

            StateHasChanged();
        });
    }

    private void SelectionChanged(ChangeEventArgs args)
    {
        string[] splitAntwort;
        Frage frage = new Frage();

        antwort = args.Value.ToString();

        splitAntwort = antwort.Split("/");

        frage.antwort = splitAntwort[0];
        frage.ID = splitAntwort[1];

        themengebiet.fragen.Add(new Frage()
        {
            antwort = frage.antwort,
            ID = frage.ID
        });
    }

    private void ThemaHinzufuegen()
    {
        eignungstest.themengebiete.Add(themengebiet);
    }

    private void SpeicherDaten()
    {
        string ordnerName = @"C:\Eignungstest/";
        string dokumentenName = "Ergebnisblatt.csv";
        string ordnerPfad = System.IO.Path.Combine(ordnerName, eignungstest.identifier.ToString());

        System.IO.Directory.CreateDirectory(ordnerPfad);

        using (StreamWriter sw = new StreamWriter(ordnerPfad + "/" + dokumentenName))
        {
            sw.WriteLine("Themengebiet" + ";" + "Fragenkennung" + ";" + "Antwort");

            foreach (Themengebiete thema in eignungstest.themengebiete)
            {
                foreach (Frage frage in thema.fragen)
                {
                    sw.WriteLine(thema.titel + ";" + frage.ID + ";" + frage.antwort);
                }
            }
        }
    }
}