@page "/Rechtschreibung"
@inject NavigationManager navigationsManager

<h3>Rechtschreibung</h3>

<form >
    <div>
        <h5>
            Gegeben ist ein Wort, wo die richtige Schreibung herausgefunden werden muss. <br />
            Beispiel:
        </h5>
    </div>
    <div class="grid-container">
    <div class="radiobutton">
        @* Beispielaufgabe *@
        <div class="row">
            <div class="col-md-3">
                <label><input type="radio" id="Griesgram" name="Griesgram" value="Griesgram" checked /> Griesgram</label>
            </div>
            <div class="col-md-3">
                <p>oder</p>
            </div>
            <div class="col-md-3">
                <label><input type="radio" id="Griessgram" name="Griesgram" value="Griessgram" /> Griessgram</label>
            </div>
            <div class="col-md-3">
                <p>?</p>
            </div>
        </div>

             @*Aufgabe 1*@ 
        <div class="row">
            <div class="col-md-3">
                <label><input type="radio" id="Akupunktur" name="Akupunktur" value="Akupunktur/T4F1"  @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) />Akupunktur</label>
            </div>
            <div class="col-md-3">
                <p>oder</p>
            </div>
            <div class="col-md-3">
                <label><input type="radio" id="Akkupunktur" name="Akupunktur" value="Akkupunktur/T4F1"  @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Akkupunktur</label>
            </div>
            <div class="col-md-3">
                <p>?</p>
            </div>
        </div>
            
           
            @* Aufgabe 2 *@
        <div class="row">
            <div class="col-md-3">
                <label><input type="radio" id="authorisieren" name="autorisieren" value="authorisieren/T4F2" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> authorisieren</label>
            </div>
            <div class="col-md-3">
                <p>oder</p>
            </div>
            <div class="col-md-3">
                <label><input type="radio" id="autorisieren" name="autorisieren" value="autorisieren/T4F2" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> autorisieren</label>
            </div>
            <div class="col-md-3">
                <p>?</p>
            </div>
        </div>
            @* Aufgabe 3 *@
        <div class="row">
            <div class="col-md-3">
                <label><input type="radio" id="Extase" name="Ekstase" value="Extase/T4F3" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Extase</label>
            </div>
            <div class="col-md-3">
                <p>oder</p>
            </div>
            <div class="col-md-3">
                <label><input type="radio" id="Ekstase" name="Ekstase" value="Ekstase/T4F3" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Ekstase</label>
            </div>
            <div class="col-md-3">
                <p>?</p>
            </div>
        </div>
            @* Aufgabe 4 *@
        <div class="row">
            <div class="col-md-3">
                <label><input type="radio" id="prophylakse" name="prophylaxe" value="prophylakse/T4F4" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> prophylakse</label>
            </div>
            <div class="col-md-3">
                <p>oder</p>
            </div>
            <div class="col-md-3">
                <label><input type="radio" id="prophylaxe" name="prophylaxe" value="prophylaxe/T4F4" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> prophylaxe</label>
            </div>
            <div class="col-md-3">
                <p>?</p>
            </div>
        </div>
            @* Aufgabe 5 *@
        <div class="row">
            <div class="col-md-3">
                <label><input type="radio" id="reziprok" name="reziprok" value="reziprok/T4F5" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> reziprok</label>
            </div>
            <div class="col-md-3">
                <p>oder</p>
            </div>
            <div class="col-md-3">
                <label><input type="radio" id="reziprog" name="reziprok" value="reziprog/T4F5" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> reziprog</label>
            </div>
            <div class="col-md-3">
                <p>?</p>
            </div>
        </div>
            @* Aufgabe 6 *@
        <div class="row">
            <div class="col-md-3">
                <label><input type="radio" id="Silhouette" name="Silhouette" value="Silhouette/T4F6" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Silhouette</label>
            </div>
            <div class="col-md-3">
                <p>oder</p>
            </div>
            <div class="col-md-3">
                <label><input type="radio" id="Sillouette" name="Silhouette" value="Sillouette/T4F6" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Sillouette</label>
            </div>
            <div class="col-md-3">
                <p>?</p>
            </div>
        </div>
            @* Aufgabe 7 *@
        <div class="row">
            <div class="col-md-3">
                <label><input type="radio" id="Tunier" name="Turnier" value="Tunier/T4F7" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Tunier</label>
            </div>
            <div class="col-md-3">
                <p>oder</p>
            </div>
            <div class="col-md-3">
                <label><input type="radio" id="Turnier" name="Turnier" value="Turnier/T4F7" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Turnier</label>
            </div>
            <div class="col-md-3">
                <p>?</p>
            </div>
        </div>
            @* Aufgabe 8 *@
        <div class="row">
            <div class="col-md-3">
                <label><input type="radio" id="verpöhnt" name="verpönt" value="verpöhnt/T4F8" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> verpöhnt</label>
            </div>
            <div class="col-md-3">
                <p>oder</p>
            </div>
            <div class="col-md-3">
                <label><input type="radio" id="verpönt" name="verpönt" value="verpönt/T4F8" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> verpönt</label>
            </div>
            <div class="col-md-3">
                <p>?</p>
            </div>
        </div>
            @* Aufgabe 9 *@
        <div class="row">
            <div class="col-md-3">
                <label><input type="radio" id="wiederrum" name="wiederum" value="wiederrum/T4F9" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> wiederrum</label>
            </div>
            <div class="col-md-3">
                <p>oder</p>
            </div>
            <div class="col-md-3">
                <label><input type="radio" id="wiederum" name="wiederum" value="wiederum/T4F9" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> wiederum</label>
            </div>
            <div class="col-md-3">
                <p>?</p>
            </div>
        </div>
        @* Aufgabe 10 *@
        <div class="row">
            <div class="col-md-3">
                <label><input type="radio" id="zuwider" name="zuwider" value="zuwider/T4F10"  @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> zuwider</label>
            </div>
            <div class="col-md-3">
                <p>oder</p>
            </div>
            <div class="col-md-3">
                <label><input type="radio" id="zuwieder" name="zuwider" value="zuwieder/T4F10"  @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> zuwieder</label>
            </div>
            <div class="col-md-3">
                <p>?</p>
            </div>
        </div>
        @* Aufgabe 11 *@
        <div class="row">
            <div class="col-md-3">
                <label><input type="radio" id="Rückgrat" name="Frage11" value="Rückgrat/T4F11" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase)) /> Rückgrat</label>
            </div>
            <div class="col-md-3">
                <p>oder</p>
            </div>
            <div class="col-md-3">
                <label><input type="radio" id="Rückrad" name="Frage11" value="Rückgrad/T4F11" @onchange="SelectionChanged" checked=@(antwort.Equals(StringComparison.OrdinalIgnoreCase))/> Rückrad</label>
            </div>
            <div class="col-md-3">
                <p>?</p>
            </div> 
        </div>
        </div>
    </div>

    <button class="">Stop</button>

    <NavLink href="">
        <button class="btn btn-dark">Test beenden!</button>
    </NavLink>
</form>

@code{

    public string antwort = "";
    
    public string frage = "";

    void SelectionChanged(ChangeEventArgs args)
    {
        antwort = args.Value.ToString();
       
    }
}