@page "/TestBeendet"

@using DigitalerTest.Data
@using DigitalerTest.Pages
@using System.IO

@inject Eignungstest eignungstest

<div class="row">
    <div class="col-md-12">
        <h2>Vielen Dank für Ihre Teilnahme am Eignungstest.</h2> 
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-danger">Weiteres Vorgehen:</h3>
    </div>
    <div class="col-md-12">
        <ul>
            <li>Bitte bleiben Sie sitzen und verhalten Sie sich ruhig, bis die zuständige Aufsichtsperson sich bei Ihnen meldet.</li>
            <li>Bei Fragen und Anregungen wenden Sie sich bitte zusätzlich an Ihren Testleiter.</li>
            <li>Innerhalb von 14 Tagen erhalten Sie eine Rückmeldung von uns, wie Sie Ihren Test abgeschlossen haben.</li>
            <li>Das weitere Vorgehen wird mit der Auswertung des Tests an Sie übermittelt.</li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3>Wir wünschen Ihnen einen guten Heimweg!</h3>
    </div>
</div>

@code{
    private void doppelteFragen()
    {
        string fragenID = "";

        foreach (Themengebiete thema in eignungstest.themengebiete)
        {
            foreach (Frage frage in thema.fragen)
            {
                fragenID = frage.ID;

                //fragenID suchen fuer Doppelte
                //Index abfragen    größter Index == letzte Eingabe
            }
        }
    }
}

