@page "/TestBeendet"

<div class="row">
    <div class="col-md-12">
        <h3>Herzlichen Glückwunsch</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Sie haben den Test erfolgreich beendet. <br /> Bitte bleiben Sie sitzen und verhalten Sie sich ruhig, bis die zuständige Aufsichtsperson sich bei Ihnen meldet.</p>
    </div>
</div>

