@page "/TestBeendet"

@using DigitalerTest.Data
@using DigitalerTest.Pages
@using System.IO

@inject Eignungstest eignungstest

<div class="row">
    <div class="col-md-12">
        <h3>Herzlichen Glückwunsch</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Sie haben den Test erfolgreich beendet. <br /> Bitte bleiben Sie sitzen und verhalten Sie sich ruhig, bis die zuständige Aufsichtsperson sich bei Ihnen meldet.</p>
    </div>
</div>

<button>Sammeln</button>

@code{
    private void doppelteFragen()
    {
        string fragenID = "";

        foreach (Themengebiete thema in eignungstest.themengebiete)
        {
            foreach (Frage frage in thema.fragen)
            {
                fragenID = frage.ID;

                //fragenID suchen fuer Doppelte
                //Index abfragen    größter Index == letzte Eingabe
            }
        }
    }
}

